#nav .large-block-grid-5 a i{padding-right:6px}
#nav .large-block-grid-5 .nav_decoration{position:absolute;bottom:0px;height:4px;width:119px;line-height:1px;font-size:1px;background:url(../images/n_bg.png) no-repeat 10px 0}
.orbit{height:365px;}
.orbit div{overflow:hidden;height:365px;width:100%}
.orbit div.home_row{width:1000px;position:relative}
.orbit div .pa{top:300px;left:80%}

.orbit .cycle-pager{margin:0;padding:0;height:20px;position:absolute;text-align:center;z-index:1000;bottom:10px;left:38%}
.orbit .cycle-pager span{font-size:50px;width:50px;height:5px;color:#FFF;cursor:pointer;line-height:16px;margin:0 5px}
.orbit .cycle-pager span.cycle-pager-active{color:#F00;}